.imm{
  background:url("../images/cd.png");
  height:100px;width:100px;
}
// 默认情况下，webpack无法处理css文件中的url地址，不管是图片还是字体库只要是url地址都处理不了 npm i url-loader file-loader -D
ul li:hover{
  color:red;
  transition:all 0.4s ease;
}
span{
  height:50px;width:50px;display: block;
}
